extends views/layout-post

block page-meta
  include views/templates
  +page-meta("404 - Ligia Unanue - Arte Geométrico")

block post-header
  include views/templates

  h1.title Página no encontrada
  .subtitle Puedes pasearte por mis exposiciones

block post-content
  include views/posts
