extends layout.pug


block content
	include views/templates
	.post
		+main-image('mmaca/mat-4')

		.title Enimgáticos Caminos Geométricos
		.subtitle Zaragoza Febrero 2017

		p Concepto de la exposición Enigmáticos caminos geométricos.

		p La exposición se compone de dos líneas de trabajo con un hilo conductor.
		p Este hilo conductor es el octógono que evoluciona del cuadrado en todas direcciones hacia la tridimensionalidad.

		p Una de estas líneas de trabajo es la investigación que Ligia lleva haciendo los últimos años con los 5 sólidos platónicos en algunas de sus variantes (truncados, elevados o estrellados, expandidos y helicoidales).
		p Se exponen 12 poliedros realizados con piezas de vidrio de diferentes tamaños, colores y texturas.
		p Ocho de estos poliedros, están suspendidos dentro de cubos de acero, que unidos forman una estrella octogonal característica de la geometría hispanomusulmana (y de todo le arte geométrico del Islam) que está también suspendida en el centro de toda la instalación.
		p Los otros 4 poliedros están dispuestos a modo de satélites al rededor de esta composición central.

		p Del cuadrado pasivo al cuadrado activo… hay un mundo!

		p Concepto de la exposición Enigmáticos caminos geométricos.

		p La  segunda línea de trabajo es el resultado del estudio de uno de los mas famosos paneles de alicatado de la Alhambra y los patrones y proporciones geométricos que encierra. Estudiando también el conjunto de estrellas entrelazadas (Lacerías) y los colores que las hacen resaltar produciendo efectos de tridimensionalidad en el plano.
		p El objetivo de la propuesta fue: hacer estas estrellas en volumen como si se tratara de cúpulas o esferas.
		p Es un trabajo que continuará desarrollando sin perspectivas de límites de tiempo.

		+youtube('E4ngjhXyjvU')
		//- +youtube('HX7890knomg')


		.images
			+image('mmaca/mat-1')
