extends ../views/layout-post


block post-header
  include ../views/templates
  +main-image('atmosfera-seda/portada')

  h1.title Atmòsfera seda
  .subtitle Barcelona, CCAM

block post-content
  include ../views/templates
  p Atmósfera seda forma parte de la exposicion que presenta la sala CCAM de Barcelona, titulada Entre sedes, nusos i etiquetes, donde participan las artistas Ester Chacón, Pía Kalfon y Ligia Unanue, que permanecerá abierta hasta el 26 de Enero del 2014. Ver díptico
  p “La seda tiene vida propia. Para manipularla debes conocerla, respetarla y obedecer sus características. Entonces ella responde dando forma a lo que sientes, de un modo muy especial”. (Ligia Unanue).
  p Las ocho piezas que componen esta colección nos invitan a realizar un recorrido visual basado en formas geométricas, simetrías, transparencias, colores y reflejos. Lejos de la frialdad que en un principio pudiera sugerirnos la geometría, encontramos en esta exposición pequeñas sorpresas que nos ofrecen los distintos puntos de vista desde los que observamos las figuras.

  +vimeo('83446115')

  p
    b Cúpula octogonal
    br
    | Cúpula compuesta de 361 piezas circulares.
    br
    | Material: seda 100% natural

  .images
    +image('atmosfera-seda/CUPULAOCTOGONAL-1')
    +image('atmosfera-seda/CUPULAOCTOGONAL-2')
    +image('atmosfera-seda/CUPULAOCTOGONAL-3')
    +vimeo('83722739')


  p
    b Esfera
    br
    | Esfera compuesta de 120 piezas circulares, confeccionadas a mano.
    br
    | Material: seda 100% natural

  .images
    +image('atmosfera-seda/ESFERA-21')
    +image('atmosfera-seda/zEsfera3_DxO')
    +vimeo('83446111')

  p
    b Octogono
    br
    | 8 paralelepípedos dispuestos  en el espacio para que generen visualmente un octógono.
    br
    | Material: seda 100% natural
  .images
    +image('atmosfera-seda/OCTOGONO-1')
    +image('atmosfera-seda/OCTOGONO-2')
    +image('atmosfera-seda/OCTOGONO-3')
    +image('atmosfera-seda/OCTOGONO-4')
    +image('atmosfera-seda/OCTOGONO-5')
    +image('atmosfera-seda/OCTOGONO-6')
  p
    b Espiral
    br
    | Espiral compuesta de 50 “piedras de seda”, tintadas y manipuladas a mano hasta conseguir la gama de tonos del arco iris.
    br
    | Material: seda 100% natural

  .images
    +image('atmosfera-seda/ESPIRALCOLORES-1')
    +image('atmosfera-seda/ESPIRALCOLORES-3')
    +image('atmosfera-seda/ESPIRALCOLORES-5')
    +image('atmosfera-seda/ESPIRALCOLORES-6')
    +image('atmosfera-seda/ESPIRALCOLORES-7')
    +image('atmosfera-seda/ESPIRALCOLORES-9')

    +vimeo('83445819')

  p
    b Semiesfera
    br
    | Compuesta por diversas piezas concéntricas cosidas a mano.
    br
    | Material: seda 100% natural

  .images
    +image('atmosfera-seda/SEMIESFERA-1')
    +image('atmosfera-seda/SEMIESFERA-2')
    +image('atmosfera-seda/SEMIESFERA-3')

  p
    b Espiral monocolor
    br
    | Pieza compuesta de 16 piezas concéntricas, confeccionadas a mano
    br
    | Material: seda 100% natural

  .images
    +image('atmosfera-seda/ESPIRALVERTICAL-1')
    +image('atmosfera-seda/ESPIRALVERTICAL-3')
    +image('atmosfera-seda/ESPIRALVERTICAL-4')
    +image('atmosfera-seda/ESPIRALVERTICAL-5')
    +image('atmosfera-seda/ESPIRALVERTICAL-6')

  p
    b Cúpula elíptica
    br
    | Cúpula compuesta de 310 piezas circulares y de 13 piezas concéntricas, todas ellas confeccionadas a mano.
    br
    | Material: seda 100% natural

  .images
    +image('atmosfera-seda/CupulaOvalos-1')
    +image('atmosfera-seda/CupulaOvalos-2')
    +image('atmosfera-seda/CupulaOvalos-3')

    +vimeo('83445813')

  p
    b Cubo
    br
    | Hexaedro compuesto de 99 piezas circulares
    br
    | Material: seda 100% natural

  .images
    +image('atmosfera-seda/CUBO-1')
    +image('atmosfera-seda/CUBO-2')
    +image('atmosfera-seda/CUBO-3')
    +image('atmosfera-seda/CUBO-4')
    +image('atmosfera-seda/CUBO-5')
    +image('atmosfera-seda/CUBO-6')

    +vimeo('83446115')
