extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta('Esencia de luz')

block post-header
  include ../views/templates
  +main-image('colectiva-faoc/portada')

  h1.title Esencia de luz
  .subtitle RELARTS. De la tradició artesana a la innovació contemporània.
  .subtitle Exposición colectiva itinerante
  .subtitle Comenzó en Artesanía Catalunya- CCAM
  .subtitle Del 15 de diciembre de 2016 al 12 de febrero de 2017
  .subtitle En estos momentos la Exposición está en el Museu dels Sants d'Olot
  .subtitle Del 11 de marzo al 28 de mayo de 2017

block post-content
  include ../views/templates
  p <b>Esencia de luz</b>
    br
    | Es la pieza que he presentado en esta exposición colectiva.
    br
    | Medidas: 15cm de alto x 6cm de ancho.
    br
    | Materiales: Cuentas de vidrio.
    br
    | Técnica: Las piezas van entretejidas con hilo de nylon específico.
    br
    | Título: Esencia de luz.
    br

  p Para la realización de esta pieza juego con hexágonos de diferentes medidas esculpiendo una forma que nunca antes había experimentado con este material.
  p Se realza el total del objeto (una unidad) mediante tres partes: gollete, cuello y cuerpo. Cada uno de los elementos de construcción geométrica forman un solo espacio virtual inspirado en “Canadelles” pieza de bronce del siglo XII.
  p Fué una experiencia muy interesante, porque dió origen a otra serie de trabajos… que me hicieron salir de los patrones “regulares”... con mas libertad.

  .images
    +image('colectiva-faoc/02-en-su-espacio')
    +image('colectiva-faoc/01-desde-arriba')
    +image('colectiva-faoc/03-original-inspiración','Esencia de Luz, está inspirada en esta pieza: Canadelles, pieza de bronze con restos de esmalte del Siglo XII')
    +image('colectiva-faoc/04-en-la-exposición')
    +image('colectiva-faoc/05-diptico')
