extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta("Trabajos experimentales")

block post-header
  include ../views/templates
  +main-image('11-experimentales/principal')

  h1.title Trabajos experimentales
  .subtitle Barcelona 2013/ 2017

block post-content
  include ../views/templates
  p Este estudio/taller está situado delante del Hospital de Sant Pau (Patrimonio de la Humanidad), en Barcelona.
  p El lugar, tanto en su interior por la luminosidad y apertura como por las vistas a esta obra de arte de exquisita riqueza, influyen día a día en el desarrollo de mis obras y me invita a ir experimentando con diferentes materiales.

  p Experiencia:
  p Volúmenes de seda
  p Material: organza de seda 100% (de Gratacos)
  p 2013/2014

  .images
    +image('11-experimentales/11-experimentales/02-seda-capullitos')
    +image('11-experimentales/03-seda-capullitos')
    +image('11-experimentales/04-seda-capullitos')
    +image('11-experimentales/05-seda-capullitos')

  p Experiencia: Contrastes con luz focalizada sobre diferentes prismas
  p Material: papel vegetal
  p Año 2014

  .images
    +image('11-experimentales/15-papel-luz')
    +image('11-experimentales/16-papel-luz')
    +image('11-experimentales/17-papel-luz')
    +image('11-experimentales/18-papel-luz')
    +image('11-experimentales/19-papel-luz')
    +image('11-experimentales/20-papel-luz')
    +image('11-experimentales/22-papel-luz')
