extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta("Trabajos experimentales")

block post-header
  include ../views/templates
  +cover-image('experimentales/portada')

  h1.title Trabajos experimentales
  .subtitle Barcelona 2013/ 2017

block post-content
  include ../views/templates
  p Este estudio/taller está situado delante del Hospital de Sant Pau (Patrimonio de la Humanidad), en Barcelona.
  p El lugar, tanto en su interior por la luminosidad y apertura como por las vistas a esta obra de arte de exquisita riqueza, influyen día a día en el desarrollo de mis obras y me invita a ir experimentando con diferentes materiales.

  h3 Volúmenes de seda
  p
    | Material: organza de seda 100% (de Gratacos)
    br
    | 2013/2014

  .images
    +image('experimentales/02-seda-capullitos')
    +image('experimentales/03-seda-capullitos')
    +image('experimentales/04-seda-capullitos')
    +image('experimentales/05-seda-capullitos')

  h3 Contrastes con luz focalizada sobre diferentes prismas
  p
    | Material: papel vegetal
    br
    | Año 2014

  .images
    +image('experimentales/15-papel-luz')
    +image('experimentales/16-papel-luz')
    +image('experimentales/17-papel-luz')
    +image('experimentales/18-papel-luz')
    +image('experimentales/19-papel-luz')
    +image('experimentales/20-papel-luz')
    +image('experimentales/22-papel-luz')

  h3 Vigintisex con diferentes materiales. En este caso es de papel vegetal.
  p
    | Hice 18 pirámides de base cuadrada con un patron plano, unidos con 8 triángulos.
    br
    | Vigintisex, es un hermoso poliedro cuya forma básica es un rombicuboctaedro y que en sus elevados consta de 18 pirámides de base cuadrangular y 8 de base triangular.
    br
    | Este poliedro fue estudiado en profundidad por Luca Pacioli (su obra mas divulgada fue "De Divina Proportione" (De la Divina Proporción) escrita en Milán entre 1496 y 1498.
  .images
    +image('experimentales/04-vigintisex-basium','Vigintisex dibujado por el joven Leonardo Da Vinci. Ilustración que acompaña las detalladas descripciones sobre cada poliedro que realizó Luca Pacioli. Este libro es el que mas me ha ayudado a desarrollar los cinco sólidos platónicos y todas sus variantes')
    +image('experimentales/27-vigintisex','Vigíntisex de papel vegetal')
    +image('experimentales/05-vigintisex-elevado','Vigintizex de cuentas de vidrio. La base, el rombicuboctaedro es de color translúcido, los elevados de color azul')
    +image('experimentales/06-vigintisex-azul','Vigintisex de cuentas de color verde, con mostacillas en los vértices')
    +image('experimentales/06-vigintisex-strawbees','Vigintisex realizado con cañitas grandes y unidos con piezas de plástico (strawbees)')

  p Estas cinco imágenes siguientes son el paso a paso para realizar la tridimensión de un octaedro (plano) dando como resultado un vigintisex.
  .images
    +image('experimentales/34-vigintisex-in-process')
    +image('experimentales/35-vigintisex-in-process')
    +image('experimentales/36-vigintisex-in-process')
    +image('experimentales/37-vigintisex-in-process')
    +image('experimentales/38-vigintisex-in-process')
    +image('experimentales/31-variaciones-solidos','Paso a paso desde los cinco sólidos platónicos básicos a los elevados')

  h3 Cúpula octaédrica, cubo-cuboctaedro
  p
    | Material: papel vegetal
    br
    | Medio octaedro convexo de medida 1, unido a otro medio octaedro cóncavo igualmente de medida 1 y vueltos a repetir hasta repetir 8 (16) que forman un aro de 8 (16).
    br
    | Sobre estos, lo mismo, pero intercalando su posición y tamaño ( 1-x).  Y asi en disminución progresiva hasta llegar al 7º escalón, siempre en disminución. El 8º escalón es una forma de estrella de 16 que cierra todo el conjunto.
    br
    | Mi descubrimiento fué que siguiendo esta progresión se crea un patrón de crecimiento característico en la naturaleza… piñas de pinos, por ejemplo.
  .images
    +image('experimentales/25-papel-proporcion')
    +image('experimentales/26-papel-proporcion')
    +image('experimentales/23-cupula-papel-luz')

    +image('experimentales/28-poliedros-papel-vegetal')
    +image('experimentales/24-papel- cuboctaedro','Cubo, con vacío de cuboctaedro, de papel vegetal')

  h3 <b>luz del atardecer/reflejos</b>
  p Material: Tubos de metacrilato

  .images
    +image('experimentales/01-con-aguja')
    +image('experimentales/02-con-rayo-de-luz')
    +image('experimentales/03-con-sol')

  h3 <b>Manos que quieren tocar las geometrías</b>
  p En diferentes exposiciones o simplemente… trabajando, construyendo.



  .images
    +image('experimentales/09-la-mano-geologia')
    +image('experimentales/10-mano-estrella-elizalde')
    +image('experimentales/11-mano-zaragoza')
    +image('experimentales/12-mano-congres-ub')
    +image('experimentales/13-manos-trabajando',' Realizando un diseño plano de patrón cuasicristal')

  h3 cubo con tetraedro
  p Material: cubo de cobre, tetraedro de aluminio

  .images
    +image('experimentales/29-cubo-tetraedro')
    +image('experimentales/30-cubo-tetraedro')

  h3 proceso de construcción de icosaedro elevado

  .images
    +image('experimentales/39-icosaedro-elevado')
    +image('experimentales/40-icosaedro-elevado')
    +image('experimentales/41-icosaedro-elevado')
    +image('experimentales/42-icosaedro-elevado')
    +image('experimentales/43-icosaedro-elevado')
    +image('experimentales/44-icosaedro-elevado')
    +image('experimentales/45-icosaedro-elevado')
    +image('experimentales/46-icosaedro-elevado')
    +image('experimentales/47-icosaedro-elevado')

  h3 proceso de construcción de dos cuasicristales.
  .images
    +image('experimentales/48-cuasi-cristal-1')
    +image('experimentales/49-cuasi-cristal-1')
    +image('experimentales/50-cuasi-cristal-1')

  .images
    +image('experimentales/52-cuasi-cristal-2')
    +image('experimentales/54-proceso-cuasicristal')

  .images
    +image('experimentales/55-cuasi-cristal-1')
    +image('experimentales/56-cuasi-cristal-1')
    +image('experimentales/57-cuasi-cristal-2')
    +image('experimentales/29-cubo-tetraedro')
    +image('experimentales/30-cubo-tetraedro')
