extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta('Atmósfera seda')

block post-header
  include ../views/templates
  +main-image('expo-ccam-atmosfera-seda/portada')

  h1.title Atmósfera seda. Entre sedes nusos i etiquetes
  .subtitle CCAM Centre d'Artesania Catalunya
   Diciembre 2013 a Enero 2014

block post-content
  include ../views/templates
  p Atmósfera seda forma parte de la exposicion que presenta la sala CCAM de Barcelona, titulada Entre sedes, nusos i etiquetes, donde participan las artistas Ester Chacón, Pía Kalfon y Ligia Unanue, que permaneció abierta hasta el 26 de Enero del 2014.
  p “La seda tiene vida propia. Para manipularla debes conocerla, respetarla y obedecer sus características. Entonces ella responde dando forma a lo que sientes, de un modo muy especial”. (Ligia Unanue).
  p Las ocho piezas que componen esta colección nos invitan a realizar un recorrido visual basado en formas geométricas, simetrías, transparencias, colores y reflejos. Lejos de la frialdad que en un principio pudiera sugerirnos la geometría, encontramos en esta exposición pequeñas sorpresas que nos ofrecen los distintos puntos de vista desde los que observamos las figuras.

  p La distribución en el espacio de esta sala de las ocho piezas expuestas, formaba una gran espiral.
  h3 OBLEAS DE SEDA
  p Algunas de las composiciones volumétricas estaban formadas por pequeñas “obleas” de organza de seda (mas o menos de 6cm de diámetro), agrupadas de tal forma que daban origen a cúpulas, cubos o esferas, algunas de ellas de gran formato.
   +image('expo-ccam-atmosfera-seda/01-cubo-1')
    +image('expo-ccam-atmosfera-seda/03-cubo-3')
    +image('expo-ccam-atmosfera-seda/04-cubo-4')
 h3 PIEDRAS DE SEDA
  p Otras eran formas de “piedras”... algo sorprendente, porque al cogerlas entre las manos experimentabas la levedad… no pesaban nada!! Estas las hice de muchos colores. Tinté, desteñí y retinté trozos de seda para poder dar el máximo de los colores del espectro. Los patrones de estas, los hice de piedras reales.
    +image('expo-ccam-atmosfera-seda/13-espiral-colores')
    +image('expo-ccam-atmosfera-seda/14-espiral-colores')
    +image('expo-ccam-atmosfera-seda/15-espiral-colores')
    +image('expo-ccam-atmosfera-seda/16-espiral-colores')
    +image('expo-ccam-atmosfera-seda/17-espiral-colores')
  h3 ROSAS ESPIRALES DE SEDA
  p Una de las cúpulas y una gran espiral estaban hechas con rosas espirales, que con tanta paciencia me ayudó mi madre. El efecto era muy interesante, porque estaban cortadas sin tijera, sino que razgando el tejido de seda, lo que hacía que quedaran los pequeños filamentos dando una textura aún mas suave. Estos eran blancos.
      +image('expo-ccam-atmosfera-seda/18-espiral-vertical')
    +image('expo-ccam-atmosfera-seda/19-espiral-vertical')
    +image('expo-ccam-atmosfera-seda/20-espiral-vertical')
      b Espiral monocolor
    br
    | Pieza compuesta de 16 piezas concéntricas, confeccionadas a mano
    br
    | Material: seda 100% natural
      
    +image('expo-ccam-atmosfera-seda/28-semi-esfera')
    +image('expo-ccam-atmosfera-seda/29-semi-esfera')
  h3 CUPULAS DE SEDA
  p Y el gran octógono estaba hecho de unas especies de columnas o rectángulos muy alargados. Mirando la composición desde un costado no se veía nada… cuando mirabas desde un punto central al final de la sala, podías descubrir el octógono...
    +image('expo-ccam-atmosfera-seda/06-cupula-octogonal')
    +image('expo-ccam-atmosfera-seda/07-cupula-octogonal')
    +image('expo-ccam-atmosfera-seda/08-cupula-ovalosa')
    +image('expo-ccam-atmosfera-seda/09-cupula-ovalos')
    +image('expo-ccam-atmosfera-seda/10-cupula-ovalos')
 +image('expo-ccam-atmosfera-seda/11-díptic-entre-nusos-sedes-etiquetes')

   +vimeo('83446111')
   +vimeo('83445819')
   +vimeo('83445813')
   +vimeo('83446115')
   +vimeo('83446115')
  
    

  
 
  

  
   
  


    


  

 


