extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta("Érase una vez un punto: Geometría en Expansión")

block post-header
  include ../views/templates
  +cover-image('expo-elizalde/portada')

  h1.title Érase una vez un punto: Geometría en Expansión
  .subtitle Centro Cultural La Casa Elizalde, 15 de Septiembre 16 de Octubre | 2015

block post-content
  include ../views/templates

  .images
    +youtube('Wl1HcxDBP40')
    +youtube('XnRo12qq8Qg')
    +youtube('tvqF88GBHYE')

  p <b>Conceptos de la exposición</b>
  p Exposición basada en el estudio y experimentación de los cinco sólidos platónicos.
  p Todo el universo es geometría pura y vivimos rodeados de ella casi sin darnos cuenta. Está  presente en la naturaleza, en los vegetales, en los minerales y en todo el firmamento.
  p He vivido por mas de treinta años frente al Hospital Sant Pau, Barcelona, contemplando sus bellos decorados geométricos que cada día me inspiran. Sumado a esto, mi pasión por La Alhambra con sus sagradas escrituras geométricas.
  p De manera natural surge mi interés por investigar y crear obras inspiradas en la geometría. Durante este proceso, he estado experimentando una sensación nueva, un descubrimiento que cada vez me produce más y más asombro. Estos me maravillan por los resultados tan especiales y a los que no había imaginado llegaría.
  p Esta exposición esta basada en el estudio y experimentación de los cinco sólidos platónicos. Al realizar estos trabajos, pude entender el concepto de la expansión de estos cinco cuerpos, a través de un proceso metódico de lógica y creatividad unidas por la belleza.
  p El punto es el origen de todo. El centro imaginario de cada poliedro ayuda a centrarnos y a tener conciencia de ese origen. Cuando percibo con claridad que todos los sólidos  platónicos están circunscritos e inscritos en una esfera y que cada uno de ellos se pueden agrupar en un omnipoliedro, me es aún mas claro ese sentido de Unidad.
  p “Al contemplar el mosaicos de lacería adherido a la pared del salón, no podemos dejar de preguntarnos si se trata de un motivo decorativo, o quizá el plano de una ruta que debemos surcar algún día”. El Legado, Crónica de las tierras de exilio. Autor: F. Martinez Dalmases.
  p “El diseño total ya está ahí, impreso en las células mas profundas de la memoria”. O.A. Shah.

  .images
    +image('expo-elizalde/01-poliedros')
    +image('expo-elizalde/02-eliz-1')
    +image('expo-elizalde/03-eliz-2')
    +image('expo-elizalde/04-eliz-3')
    +image('expo-elizalde/05-eliz-4')
    +image('expo-elizalde/06-eliz-5')
    +image('expo-elizalde/07-eliz-6')
    +image('expo-elizalde/08-eliz-7')
    +image('expo-elizalde/09-eliz-9')
    +image('expo-elizalde/10-papel- cuboctaedro')
    +image('expo-elizalde/13-vigintisex')
    +image('expo-elizalde/14-icosaedr-con-rosa')
    +image('expo-elizalde/15-icosaedro-metacril')
    +image('expo-elizalde/17-mano-estrella')
