extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta('Enigmáticos Caminos Geométricos')

block post-header
  include ../views/templates
  //- +cover-image('expo-girona/portada')
  +cover-video('unSdBVuw1ws')

  h1.title Enigmáticos Caminos Geométricos
    .badge Próximamente
  .subtitle Espai dels Amics del Museu D’Art
  .subtitle Del 3 al 28 de julio de 2017
  .subtitle Horari: 16:30 a 20:00h

block post-content
  include ../views/templates
  h3 Conferencia
  p Inauguración: viernes 7 de julio, a las 19 h.
  p Simetrías, cristalles, animales, plantas, arquitectura, arte...
    | A cargo del Dr. Miquel Àngel Cuevas Diarte.
    | <b>Jueves 13 de julio, a las 19 h.</b>


  h3 Talleres : Geoplatonicos y Geoplantitas
  p
    | Ligia Unanue enseñará a construir algunos poliedros
    | Miércoles 5,12 i 19, viernes 21 de juliol de 11 a 13:30h
    | Llibrería 22, Carrer de les Hortes, 22 17001 Girona
