extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta("Geometría en expansió")

block post-header
  include ../views/templates
  +cover-image('expo-geologia/portada')

  h1.title Geometría en expansió
  .subtitle Barcelona 2016
  .subtitle Facultat de Geologia Universitat de Barcelona

block post-content
  include ../views/templates

  .images
    +youtube('dCW9QjNYvZs')
    +youtube('NKw2Ssn4CrI')

  p Ligia comenzó a investigar en el mundo de la geometría desde la doble perspectiva de la creatividad y del diseño específicamente a partir de los “5 Sólidos platónicos”. Con la combinación espacial de éstos, genera poliedros estrellados que se expanden en una gran variedad de formas y riqueza cromática. El resultado es por un lado de una gran belleza, que nace del propio orden de las figuras resultantes, y por otro estéticamente sorprendente por la sutilidad, calidez y luminosidad que emanan algunas de ellas. Incansable trabajadora, busca en la geometría no sólo la Belleza y la Armonía como fenómeno visual, sino desvelar su contenido más profundo, investigando en métodos, materiales y técnicas que le permitan ahondar en ese proceso.
  p Su entusiasmo por el mundo de la simetría creció cuando conoció en la Alhambra sus bellos alicatados, observando cómo a través de la simetría se manifiestan bidimensionalmente los grupos cristalográficos. El paso a aplicar estas reglas de simetría a la tridimensionalidad fue natural. Por esa ruta, combinando percepción y creación, se encontró con el mundo de la Cristalografía, de forma fortuita por así decirlo, cuando el profesor Miguel Ángel Cuevas visita su exposición “Érase una vez un punto, Geometría en expansión” en Casa Elizalde de Barcelona y le señala que estaba creando cristales y cuasi cristales.
  p En esta muestra selecta se podrá apreciar una pequeña parte del mundo de cristales que ella ha ido desarrollando y que a buen seguro dará paso a una nueva dimensión en su futura trayectoria creativa.

  .images
    +image('expo-geologia/01-corazón-de-icosaedro')
    +image('expo-geologia/02-cuasi-cristal')
    +image('expo-geologia/03-cuasi-crsital-con-titulo')
    +image('expo-geologia/cupula-piramidal')
    +image('expo-geologia/05-vigintisex-expansion')
    +image('expo-geologia/06-cubo-piramides')
    +image('expo-geologia/07-vigintisex')
    +image('expo-geologia/08-espiral-octogonal')
    +image('expo-geologia/09-espiral-octogonal')
    +image('expo-geologia/10-esfera-satelital')
    +image('expo-geologia/11-estrella-aurea')
    +image('expo-geologia/12-estrella-aurea')
    +image('expo-geologia/13-jugando-a-esfera')
    +image('expo-geologia/14-luna-de-plata-detalle')
    +image('expo-geologia/15-vigintisex-fantasia')
    +image('expo-geologia/16-atidos-de- dodecaedro-3')
    +image('expo-geologia/17-luna-de-plata')
    +image('expo-geologia/18-pequeño-vigintisex-croma')
    +image('expo-geologia/19-pequeño-vigintisex-croma')
    +image('expo-geologia/20-pirámides-cúbicas')
    +image('expo-geologia/21-piramides-cubicas')
    +image('expo-geologia/22-planeta-del-principito')
    +image('expo-geologia/23-vigintisex-fantasia ')
    +image('expo-geologia/24-exposicion')
    +image('expo-geologia/25-geo-exposicion')
