extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta("Museu de Matemátiques")

block post-header
  include ../views/templates
  +main-image('03-expo-mmaca/mmaca/mat-4')

  h1.title QUAN L’ART I LES MATEMÀTIQUES ES TOQUEN Museu de Matemàtiques de Catalunya (Exposición colectiva)
  .subtitle 31 Enero al 7 Febrero |  2016


block post-content
  include ../views/templates

  +youtube('SBDFxWR0WP')

  p Cuando los conceptos matemáticos se trabajan con sensibilidad estética, los resultados son espectaculares. Lo hemos comprobado en la primera exposición sobre esta temática que hemos organizado desde  el  MMACA.
  p Se ha podido visitar los domingos, del 31 de enero al 28 de febrero del 2016, en la planta baja del Palacio Mercader de Cornellà. Con obras de Maria Alberich, Simon Beck, Joan Antoni Blanc, Herwig Hauser & Sebastian Gann, Icardi, Jordi Pericot y Ligia Unanue.


  p Quan els conceptes matemàtics es treballen amb sensibilitat estètica, els resultats són espectaculars. Ho podreu comprovar a la        primera exposició d’aquesta temàtica que hem organitzat des del MMACA.
  p La podreu visitar els diumenges, del 31 de gener al 28 de febrer, a la planta baixa del Palau Mercader de Cornellà.
  p Hi trobareu, entre d’altres, obres de Maria Alberich, Simon Beck, Joan Antoni Blanc, Herwig Hauser & Sebastian Gann, Icardi, Jordi Pericot i Ligia Unanue.



  .images
    +image('03-expo-mmaca/01-mat-1')
    +image('03-expo-mmaca/02-mat-2')
    +image('03-expo-mmaca/03-mat-3')
    +image('03-expo-mmaca/04-mat-4')
    +image('03-expo-mmaca/05-mat-5')
    +image('03-expo-mmaca/06-mat-6')
    +image('03-expo-mmaca/07-mat-7')
    +image('03-expo-mmaca/08-cubo-vigíntisex')
    +image('03-expo-mmaca/09-dodecaedro-elevado')
    +image('03-expo-mmaca/10-icosaedro')
    +image('03-expo-mmaca/11-merkaba')
    +image('03-expo-mmaca/13-jugando-a-esfera')
    +image('03-expo-mmaca/14-cubo-de-piramides')
    +image('03-expo-mmaca/15-corazon-de-icosaedro')
