extends ../views/layout-post


block post-header
	include ../views/templates
	+main-image('geologia/latidos-dodecaedro-3-1')

	h1.title Geometría en expansió
	.subtitle Facultat de Geologia Universidad de Barcelona

block post-content
	include ../views/templates
	+youtube('dCW9QjNYvZs')


	p Ligia Unanue va començar a investigar en el món de la geometría des de la doble perspectiva de la creativitat i del disseny i, específicament, a partir dels cinc sòlids platònics. Amb la combinació espacial d’aquestes figures, genera poliedres estrellats, que s’expandeixen. El resultat és, d’una banda, d’una gran bellesa, que neix de l’ordre mateix de les figures resultants, i de l’altra, és estèticament sorprenent, per la subtilitat, calidesa i lluminositat que emanen d’algunes d’elles.
	p Ligia Unanue comenzó a investigar en el mundo de la geometría desde la doble perspectiva de la creatividad y del diseño y, específicamente, a partir de los cinco sólidos platónicos. Con la combinación espacial de estas figuras, genera poliedros estrellados, que se expanden. El resultado es, por un lado, de una gran belleza, que nace del orden mismo de las figuras resultantes, y por el otro, es estéticamente sorprendente, por su sutileza, calidez y luminosidad que emanan de algunas de ellas.
	p Hall de la Facultat de Geología.
