extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta("Gratacós")

block post-header
  include ../views/templates
  +main-image('gratacos/estudi')

  h1.title Gratacós
  .subtitle Barcelona 2014

block post-content
  include ../views/templates
  p Del 27 de Marzo al 5 de Abril de 2014 tuve  el placer de exponer algunas de mis piezas de la colección “Atmósfera seda” en Gratacós, la prestigiosa firma situada en el número 110 del Paseo de Gràcia de Barcelona.
  p En su magnífico escaparate principal se expusieron 3 piezas: Espiral multicolor, esfera y cubo. Estas piezas podían verse desde la calle, y durante la noche se realzaban aún más gracias a la iluminación que instalamos.
  p Si nos perdimos la exposición, pero nos gustan las piedras de seda, los elementos con los que se ha construido la espiral multicolor, aún podemos ir a la tienda, en donde encontraremos las últimas unidades a la venta.
  p Desde aquí quisiera agradecer a todo el equipo de Gratacós la enorme ayuda y el soporte constante que he recibido para la realización de esta colección.

  .images
    +image('gratacos/grat-1')
    +image('gratacos/grat-2')
    +image('gratacos/grat-3')
    +image('gratacos/grat-4')
    +image('gratacos/grat-5')
    +image('gratacos/grat-7')
    +image('gratacos/Piedras-Seda-01')
    +image('gratacos/Piedras-Seda-02')
    +image('gratacos/Piedras-Seda-03')
    +image('gratacos/Piedras-Seda-04')
    +image('gratacos/Piedras-Seda-05')
    +image('gratacos/Piedras-Seda-06')
    +image('gratacos/Piedras-Seda-07')
    +image('gratacos/Piedras-Seda-08')
