extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta("Gratacós")

block post-header
  include ../views/templates
  +main-image('principal')

  h1.title Gratacós
  .subtitle Escaparate Gratacós, Paseo de Gràcia. Barcelona Del 27 de Marzo al 5 de Abril de 2014

block post-content
  include ../views/templates
  p Tuve  el placer de exponer algunas de mis piezas de la colección “Atmósfera seda” en Gratacós, la prestigiosa firma situada en el número 110 del Paseo de Gràcia de Barcelona.
  p En su magnífico escaparate principal se expusieron 3 piezas: Espiral multicolor, esfera y cubo. Estas piezas podían verse desde la calle, y durante la noche se realzaban aún más gracias a la iluminación que instalamos.
  p Si nos perdimos la exposición, pero nos gustan las piedras de seda, los elementos con los que se ha construido la espiral multicolor, aún podemos ir a la tienda, en donde encontraremos las últimas unidades a la venta.
  p Desde aquí quisiera agradecer a todo el equipo de Gratacós la enorme ayuda y el soporte constante que he recibido para la realización de esta colección.

  .images
+image(’01-grat-1’)
+image(’02-grat-2’)
+image(’03-grat-3’)
+image(’04-grat-4’)
+image(’05-grat-5’)
+image(’06-grat-7’)
+image(’07-piedras-seda-01’)
+image(’08-piedras-seda-02’)
+image(’09-piedras-seda-03’)
+image(’10-piedras-seda-04’)
+image(’11-piedras-seda-05’)
+image(’12-volumen-seda-06’)
+image(’13-volumen-seda’)
+image(’14-piedras-seda-08’)
+image(’15-detalle-esfera’)
+image(’16-detalle-espiral’)
+image(’17-detalle-espiral’)
