extends ../views/layout-post

block page-meta
  include ../views/templates
  +page-meta("Enigmáticos caminos geométricos")

block post-header
  include ../views/templates
  +main-image('01-expo-zaragoza/principal')

  h1.title Enigmáticos caminos geométricos
  .subtitle Facultad de Educación, Universidad de Zaragoza 2017
  .subtitle Congreso bienal de la Real Sociedad Matemática Española, RSME 2017
  .subtitle 30 de Enero al 28 de Febrero 2017

block post-content
  include ../views/templates
  p Conceptos de la exposición:
  p La exposición se compone de dos líneas de trabajo con un hilo conductor. Este hilo conductor es el *octógono* que evoluciona del *cuadrado* en todas direcciones hacia la *tridimensionalidad*.
  p La primera es la investigación que Ligia lleva haciendo los últimos años con los 5 sólidos platónicos en algunas de sus variantes (truncados, elevados o estrellados, expandidos y helicoidales).
  p Estos poliedros están realizados con pequeñas piezas de vidrio, cada una de ellas de diferentes tamaños, colores y texturas. 
  p Ocho poliedros que están suspendidos dentro de cubos de acero, forman una estrella octogonal característica de la geometría de Al-Andalus (y de todo el arte geométrico del Islam). Y esta a la vez está suspendida en el centro de toda la instalación.

  +image(’03-cuadricula-central’)
  +image(’04-central’)

  p Centro de la instalación
  p La segunda línea de trabajo es el resultado del estudio de uno de los más famosos paneles de alicatado de la Alhambra y los patrones y  proporciones geométricos que encierra. Estudiando también el conjunto de estrellas entrelazadas (Lacerías) y los colores que las hacen resaltar produciendo efectos de tridimensionalidad en el plano. 
  
  

p Algunas de las estrellas de los paneles de alicatado de la Alhambra realizados como cúpulas o esferas. Del alicatado a la tridimensionalidad. Estrella de 16 puntas.

+image(’05-estrella-16’, 'Imagen del panel alicatado de la sala Mexuar de La Alhambra, estrella con centro de 16 puntas.')
+image(’06-digital-16’, 'El patrón plano de esta estrella digitalizada (programa A illustrator)')
+image(’07-cupula-16’ 'Patrón realizado en tridimensional como cúpula invertida, en la exposición.')

p Relación entre las estrellas de alicatados y las cúpulas expuestas.

p Del alicatado a la tridimensionalidad. Estrella de 8 puntas.

+image(’08-estrella-8’ ' imagen del panel alicatado de la sala Mexuar de La Alhambra, estrella con centro de 8 puntas.')

+image(’09-estrella-8’ 'Estrella plana hecha papel vegetal (paso 1).')
+image(’09-estrella-completa-8’ 'Estrella plana hecha papel vegetal.')
+image(’10-esfera-8’)             
+image(’11-esfera-8-b’ 'Dos imágenes del patrón realizado en tridimensional esfera.')

p *Proceso de trabajo 1ª Etapa*
+image(’12-patron-gomas’'El patrón de la estrella de centro de 8 puntas lo realicé con goma elástica. Este lo apliqué sobre una piedra esférica del parque Güell de Barcelona (de Gaudí)')  
+image(’13-gomas-piedra’'Después de aplicar film transparente dibujé los espacios vacíos.')
+image(’14-gomas-piedra-b’'...de tal forma que obtuve un patrón inexacto pero un acercamiento a la esfericidad.')

p *Proceso de trabajo 2ª Etapa*
+image(’15-dibujo-lycra’)
+image(’16-lycra-pelota’)
+image(’17-lycra-pelota-b’)
p Luego de digitalizado el patrón plano lo pasé a una tela de lycra que se amoldó perfectamente  a una pelota de pilates. De esta forma obtuve el patrón lo mas cercano posible a la tridimensión buscada.
p *Proceso de trabajo 3ª Etapa*
+image(’18-patron-corte’ 'Digitalización del patrón tridimensional’)
+image(’19-cortando’ 'cortando la plantilla a mano’)
+image(’20-pelota’ 'posicionada en la pelota para el montaje de la esfera.’)



+image(’21-31012017Heraldo’'El director de la Real Sociedad Matemática Española, RSME 2017 posando para la entrevista acompañado con las geometrías.')
+image(’22-heraldo-educacion’, 'aqui va un pie de foto’)
+image(’23-inauguracion-educación’, 'Representantes del Gobierno, de la universidad y de diversos colectivos, durante la inauguración del edificio de la Facultad de Educación al pasar por el conjunto de la exposición.')
















p Relación entre las estrellas de alicatados y las esferas expuestas.
p 

imagen del panel alicatado 
de la sala Mexuar de La Alhambra, 
estrella con centro de 8 puntas.

  +youtube('E4ngjhXyjvU')
