footer
	//- .social.instagram
	//- 	.icon
	//- 	.flxCol
	//- 		span.bold Follow me
	//- 		span @ligiaunanue

	a.social.etsy(href='https://www.etsy.com/es/shop/OnceUponaPoint' title='Tienda Geometrias Ligia Unanue')
		.icon
		.flxCol
			span.bold Get my products
			span @OnceUponAPoint
