header.nav
	.inner
		a.logo(href='/' title='Ligia Unanue') Ligia Unanue
		.expander ☰
		.items.open
			a.item(href='https://www.notion.so/Talleres-en-Girona-87ed163c82264c23852f1ac55b226b98' target='_blank') Talleres
			a.item(href='/bio.html') Biografía
			a.item(href='https://www.etsy.com/es/shop/OnceUponaPoint' title='Tienda Geometrias Ligia Unanue') Tienda
