header
	.nav
		a.logo(href='/' title='Ligia Unanue') Ligia Unanue
		.expander ☰
		.items.open
			//- .item Talleres
			//- .item Exposiciones
			a.item(href='/biografia.html') Biografía
			a.item(href='https://www.etsy.com/es/shop/OnceUponaPoint' title='Tienda Geometrias Ligia Unanue') Tienda
