header.nav
	.inner
		a.logo(href='/' title='Ligia Unanue') Ligia Unanue
		.expander ☰
		.items.open
			a.item(href='https://www.notion.so/Talleres-de-Geometria-6124aff6b0f44ec1ac03a7af390ed9c1' target='_blank') Talleres
			a.item(href='/bio.html') Biografía
			a.item(href='https://www.etsy.com/es/shop/OnceUponaPoint' title='Tienda Geometrias Ligia Unanue') Tienda
