include ../views/templates
doctype html
html(lange="en")

  head
    block page-meta
    include meta

    link( rel="stylesheet" media="screen" href="styles/styles.css")

    include script-ga
    include script-structured-data

  body.home
    include header
    block content
    include footer


  include scripts
