- var siteName = "Ligia Unanue - Arte Geométrico"
- var description = "Ligia Unanue es una artista que trabaja con Geometria. Ha hecho exposiciones alrededor de España"


//-Tech Meta
meta( http-equiv="Content-Type" content="text/html; charset=utf-8" )
meta( http-equiv="X-UA-Compatible" content="IE=7")
meta( name="viewport" content="width=device-width, initial-scale=1.0")

//-Basic Meta
meta( name="description" content=description)
meta( name="keywords" content="ligia, unanue, arte, geometrico, exposiciones, españa, geometry, geometria, platonic solids, exhibition, fiber art, vigintisex, barcelona, exhibitions, exposiciones, gratacos, quiñones")

//-Facebook Meta
meta( property="og:site_name"  content=siteName )
meta( property="og:description" content=description )
meta( property="og:image" content="http://ligiaunanue.com/fb-img.jpg" )
meta( property="og:url" content="http://ligiaunanue.com" )
meta( property="og:type" content="website" )

//-Favicon
link( rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
link( rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")

link( rel="apple-touch-icon" href="/apple-touch-icon.png")

meta( name="google-site-verification" content="va1kiacO1kcr0YYsrPLsoEBZ-7JdR2qYZ7mZxN_AVqQ")
