include templates
.posts
	+post-item('Enigmáticos Caminos Geométricos', 'Facultad de Matemáticas Universidad de Zaragoza ', 'Febrero 2017', 'expo-zaragoza')
       
	+post-item(' Geometria, puresa i simplicitat', 'Facultat de Matemáticas Universidad de Barcelona', 'Julio  2016', 'expo-congres-ub')
   
   	+post-item('Quan l’art i les matemàtiques es toquen', 'MMACA Barcelona', 'Febrero  2016', 'expo-mmaca')
        
        +post-item('Geometría en expansió', 'Facultat de Geología Universitad de Barcelona', 'Marzo 2016', 'expo-geologia')
  
        +post-item('Érase una vez un punto', 'Casa Elizalde, Barcelona', 'Octubre 2015', 'expo-elizalde')
        
	+post-item('Atmósfera seda, Gratacós', 'Barcelona, Abril 2014','instalacio-gratacos') 


        +post-item('Atmósfera Seda', 'CCAM, Barcelona', Enero 2014','expo-ccam-atmosfera-seda') 

        +post-item('Esencia de luz', 'RELARTS Barcelona - Olot', '2016/2017',-colectiva-faoc')


