include templates
.posts
	+post-item('Enigmáticos Caminos Geométricos', 'Facultad de Matemáticas Universidad de Zaragoza ', 'Febrero 2017', 'https://docs.google.com/document/d/1F7UpNVzLZ-_hflSBrCtZ0XJK4IcSe24B6U_tJrhHnB4/edit')
       
	+post-item(' Geometria, puresa i simplicitat', 'Facultat de Matemáticas Universidad de Barcelona', 'Julio  2016', 'https://docs.google.com/document/d/14PmMbzn82Xn8rsVcXDD_ijdtu4PGZ3vkxUilHODstiQ/edit')
   
   	+post-item('Quan l’art i les matemàtiques es toquen', 'MMACA Barcelona', 'Febrero  2016', 'https://docs.google.com/document/d/1SZK42e4SUsU5mxCvxBcCBpCNyUI61m-5_BlKzIBPUqk/edit')
        
        +post-item('Geometría en expansió', 'Facultat de Geología Universitad de Barcelona', 'Marzo 2016', 'https://docs.google.com/document/d/1Gvx1QbrcD0D0vgCTvwGCUA9FIbSumBJKXr-foypQhr0/edit')
  
        +post-item('Érase una vez un punto', 'Casa Elizalde, Barcelona', 'Octubre 2015', 'https://docs.google.com/document/d/12FgD1M9JBC_Ee0-66zZ0R5frPF2Yxux-BGzoyH78gmE/edit')
        
	+post-item('Atmósfera seda, Gratacós', 'Barcelona, Abril 2014') 
'https://docs.google.com/document/d/1m4OuUwAwEURw71m8ue2s-FSdOTuy83yJ-MzaMFtwNbQ/edit')

        +post-item('Atmósfera Seda', 'CCAM, Barcelona', Enero 2014') 'https://docs.google.com/document/d/16LmATgCowaB_xo5LVUtuYuA0WAF3g8WSJgQU30rGphc/edit')

        +post-item('Esencia de luz', 'RELARTS Barcelona - Olot', '2016/2017', 'https://docs.google.com/document/d/1MmkYwt3LDutsfJYVEDAT8GzDrbX1T1Q0W8dF0fZoo0g/edit')


