include templates
.posts
	+post-item('Enigmáticos Caminos Geométricos', 'Zaragoza Febrero 2017', 'zaragoza', 'zaragoza/zaragoza_21')
	+post-item('Geometría en expansió', 'Barcelona 2016', 'facultat-geologia', 'geologia/latidos-dodecaedro-3-1')
	+post-item('Museu de Matemátiques', 'Barcelona 2015', 'mmaca', 'mmaca/mat-4')
	+post-item('Érase una vez un punto', 'Casa Elizalde Barcelona, 2015', 'elizalde', 'elizalde/eliz-3')
	+post-item('Gratacós', 'Barcelona Abril 2014', 'gratacos', 'gratacos/grat-7')
	+post-item('Atmosfera Seda', 'CCAM, Barcelona Enero 2014', 'atmosfera-seda', 'atmosfera-seda/CUPULAOCTOGONAL-3')
