include templates
.posts
	+post-item('Enigmáticos Caminos Geométricos', 'Zaragoza Febrero 2017', 'zaragoza', 'zaragoza/thumb')
	+post-item('Geometría en expansió', 'Barcelona 2016', 'facultat-geologia', 'geologia/thumb')
	+post-item('Museu de Matemátiques', 'Barcelona 2015', 'mmaca', 'mmaca/thumb')
	+post-item('Érase una vez un punto', 'Casa Elizalde Barcelona, 2015', 'elizalde', 'elizalde/thumb')
	+post-item('Gratacós', 'Barcelona Abril 2014', 'gratacos', 'gratacos/thumb')
	+post-item('Atmosfera Seda', 'CCAM, Barcelona Enero 2014', 'atmosfera-seda', 'atmosfera-seda/thumb')
