script( type="application/ld+json").
  {
    "@context": "http://www.schema.org",
    "@type": "person",
    "name": "Ligia Unanue",
    "jobTitle": "Artist",
    "url": "http://ligiaunanue.com",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Barcelona",
      "addressRegion": "Catalunya",
      "addressCountry": "Spain"
    }
  }
