@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i');
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.cover-all {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.overflow {
  overflow: hidden;
}
.block {
  display: block;
}
.ib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.contain {
  background-size: contain;
}
.cover {
  background-size: cover;
}
.anchor {
  cursor: pointer;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
.hide,
.hidden {
  display: none;
  visibility: hidden;
}
.show,
.shown {
  display: block;
  visibility: visible;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.upcase {
  text-transform: uppercase;
}
.lowcase {
  text-transform: lowercase;
}
.ignorecase {
  text-transform: none;
}
.tcenter {
  text-align: center;
}
.hyphen {
  -hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
}
.icon-16 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}
/*== TRANSITIONS ==*/
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.i {
  font-style: italic;
}
.b {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.strike {
  text-decoration: line-through;
}
.ttc {
  text-transform: capitalize;
}
.ttu {
  text-transform: uppercase;
}
.hyphen {
  -hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}
.serif {
  font-family: georgia, times, serif;
}
.code {
  font-family: Consolas, monaco, monospace;
}
.courier {
  font-family: 'Courier Next', courier, monospace;
}
.helvetica {
  font-family: 'helvetica neue', helvetica, sans-serif;
}
.avenir {
  font-family: 'avenir next', avenir, sans-serif;
}
.athelas {
  font-family: athelas, georgia, serif;
}
.georgia {
  font-family: georgia, serif;
}
.times {
  font-family: times, serif;
}
.bodoni {
  font-family: "Bodoni MT", serif;
}
.calisto {
  font-family: "Calisto MT", serif;
}
.garamond {
  font-family: garamond, serif;
}
.baskerville {
  font-family: baskerville, serif;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.flx {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flx1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flx2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flxCol {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flxRow {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flxWrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.aifs {
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.aic {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.aife {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcc {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcfs {
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcfe {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcsb {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcsa {
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.asfs {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.asfe {
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.asc {
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.ass {
  -webkit-align-self: stretch;
  -ms-align-self: stretch;
  align-self: stretch;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.red {
  color: #ce3232;
}
.green {
  color: #a0ce32;
}
.orange {
  color: #ff8c00;
}
.blue {
  color: #0084FF;
}
.yellow {
  color: yellow;
}
.black {
  color: #131313;
}
.black90 {
  color: #2A2A2A;
}
.black80 {
  color: #424242;
}
.black70 {
  color: #595959;
}
.black60 {
  color: #717171;
}
.black50 {
  color: #898989;
}
.black40 {
  color: #A1A1A1;
}
.black30 {
  color: #B8B8B8;
}
.black20 {
  color: #D0D0D0;
}
.black10 {
  color: #E7E7E7;
}
.black05 {
  color: #F3F3F3;
}
.white {
  color: white;
}
.op100 {
  opacity: 1;
}
.op90 {
  opacity: 0.9;
}
.op80 {
  opacity: 0.8;
}
.op70 {
  opacity: 0.7;
}
.op60 {
  opacity: 0.6;
}
.op50 {
  opacity: 0.5;
}
.op40 {
  opacity: 0.4;
}
.op30 {
  opacity: 0.3;
}
.op20 {
  opacity: 0.2;
}
.op10 {
  opacity: 0.1;
}
.op0 {
  opacity: 0;
}
.anchor {
  cursor: pointer;
}
.cover-all {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.overflow {
  overflow: hidden;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
.merriweather {
  font-family: 'Merriweather';
}
.roboto {
  font-family: 'roboto';
}
.sfui {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Merriweather';
}
.container {
  max-width: 960px;
}
.light {
  font-weight: 200;
}
.bold {
  font-weight: 600;
}
.black {
  font-weight: 800;
}
.italic {
  font-style: italic;
}
#App {
  margin: 0 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  color: #2E323C;
}
.t1 {
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0;
  color: #131313;
  font-weight: 800;
}
.t2 {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
}
.p {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0;
  font-family: 'roboto';
  font-weight: 300;
  color: #2E323C;
}
.p b {
  font-family: 'roboto';
  font-weight: 500;
  color: black;
}
header {
  width: 100%;
  max-width: 960px;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.nav {
  width: 100%;
  margin: 28px 0;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.nav .nav-text {
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0;
  color: #2E323C;
}
.nav .logo {
  padding: 20px;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0;
  color: #2E323C;
  color: #131313;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 80ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 80ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 80ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 80ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 80ms;
  transition-timing-function: linear;
}
.nav .logo:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 130ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 130ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 130ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 130ms;
  transition-timing-function: linear;
}
.nav .expander {
  display: none;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0;
  padding: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: 'roboto';
}
.nav .expander:hover {
  color: #F57209;
}
.nav .items {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.nav .item {
  padding: 20px;
  cursor: pointer;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0;
  color: #2E323C;
  font-weight: 200;
  -webkit-transition-property: all;
  -webkit-transition-duration: 80ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 80ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 80ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 80ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 80ms;
  transition-timing-function: linear;
}
.nav .item:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 130ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 130ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 130ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 130ms;
  transition-timing-function: linear;
}
.nav .logo:hover,
.nav .item:hover {
  color: #F57209;
  -webkit-transition-property: all;
  -webkit-transition-duration: 80ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 80ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 80ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 80ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 80ms;
  transition-timing-function: linear;
}
.nav .logo:hover:hover,
.nav .item:hover:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 130ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 130ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 130ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 130ms;
  transition-timing-function: linear;
}
footer {
  max-width: 960px;
  padding: 48px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
footer .social {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  margin: 0 0 40px 0;
  padding: 20px;
  cursor: pointer;
}
footer .social:hover {
  background-color: #f2f2f2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
footer .social.instagram {
  color: #D92187;
  margin-right: 20px;
}
footer .social.instagram .icon {
  background-image: url('/images/instagram.png');
}
footer .social.etsy {
  color: #F57209;
}
footer .social.etsy .icon {
  width: 128px;
  background-image: url('/images/etsy.png');
}
footer .social .icon {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
footer .social span {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
}
.products-title {
  margin-top: 36px;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0;
  color: #131313;
  font-weight: 800;
  color: #B3B6BF;
  text-align: center;
}
.button {
  padding: 14px 8px 12px;
  text-align: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  background: #F57209;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
.content {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.posts {
  max-width: 960px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.post-item {
  width: 300px;
  text-align: center;
  margin: 0 20px 30px 0;
  cursor: pointer;
}
.post-item .img {
  height: 200px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.post-item .img-inner {
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.post-item .title {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: bold;
  font-weight: 600;
  margin-bottom: 4px;
  color: #2E323C;
}
.post-item .subtitle {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 200;
  font-style: italic;
  color: #2E323C;
}
.post-item:hover .img-inner {
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.post-item:hover .img-inner:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
}
.post-item:hover .title {
  color: #F57209;
}
.products {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.product {
  width: 300px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  text-align: center;
  margin: 0 20px 20px 0;
  cursor: pointer;
}
.product .img {
  height: 360px;
}
.product .title {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: bold;
  font-weight: 600;
  margin-bottom: 4px;
  color: #2E323C;
}
.product .button {
  width: 200px;
  padding: 14px 8px 12px;
  text-align: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  background: #F57209;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  color: #2E323C;
}
.product:hover .img-inner {
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.product:hover .img-inner:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
}
.product:hover .button {
  background: #F57209;
}
.post {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.post .main-image {
  width: 100%;
  max-height: 320px;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  overflow: hidden;
  margin-bottom: 24px;
}
.post .title {
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0;
  color: #131313;
  font-weight: 800;
  text-align: center;
  margin-bottom: 12px;
}
.post .subtitle {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin-bottom: 24px;
}
.post p {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0;
  font-family: 'roboto';
  font-weight: 300;
  color: #2E323C;
  text-align: left;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.post p b {
  font-family: 'roboto';
  font-weight: 500;
  color: black;
}
.post .paragraphs {
  max-width: 1200px;
  column-gap: 80px;
  column-count: 2;
  column-rule: 1px solid rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0;
  font-family: 'roboto';
  font-weight: 300;
  color: #2E323C;
  text-align: left;
}
.post .paragraphs b {
  font-family: 'roboto';
  font-weight: 500;
  color: black;
}
.post .images {
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.post .image {
  max-width: 400px;
  margin: 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
}
.post .image .image-inner {
  width: 100%;
  height: auto;
  display: block;
}
.post .video iframe {
  width: 500px;
  height: 320px;
}
.img {
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.img-inner {
  width: 100%;
  height: auto;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-property: all;
  -webkit-transition-duration: 240ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 240ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 240ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 240ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 240ms;
  transition-timing-function: linear;
  display: block;
}
.img-inner:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 290ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 290ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 290ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 290ms;
  transition-timing-function: linear;
}
@media only screen and (max-width: 800px) {
  .nav .expander {
    display: block;
  }
  .nav .items {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  footer .social .icon {
    width: 50px !important;
    height: 50px;
  }
  footer .social span {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
  }
}
